services:
  db:
    image: postgres:18
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"

  api:
    image: mcr.microsoft.com/dotnet/aspnet:10.0
    command: sleep infinity
    environment:
      ASPNETCORE_URLS: http://0.0.0.0:5000
    ports:
      - "5000:5000"
    depends_on:
      - db
