@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: oklch(var(--background));
}

::-webkit-scrollbar-thumb {
  background: oklch(var(--border));
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: oklch(var(--muted-foreground));
}

* {
  scrollbar-color: oklch(var(--border)) oklch(var(--background));
  scrollbar-width: thin;
}

:root {
  --background: 1.00 0 0;
  --foreground: 0.14 0 0;
  --card: 1.00 0 0;
  --card-foreground: 0.14 0 0;
  --popover: 1.00 0 0;
  --popover-foreground: 0.14 0 0;
  --primary: 0.20 0 0;
  --primary-foreground: 0.99 0 0;
  --secondary: 0.97 0 0;
  --secondary-foreground: 0.20 0 0;
  --muted: 0.97 0 0;
  --muted-foreground: 0.56 0 0;
  --accent: 0.97 0 0;
  --accent-foreground: 0.20 0 0;
  --destructive: 0.58 0.24 28.48;
  --border: 0.92 0 0;
  --input: 0.92 0 0;
  --ring: 0.71 0 0;
  --chart-1: 0.65 0.22 36.85;
  --chart-2: 0.60 0.11 184.15;
  --chart-3: 0.40 0.07 227.18;
  --chart-4: 0.83 0.17 81.03;
  --chart-5: 0.77 0.17 65.36;
  --radius: 0.625rem;
}

.dark {
  --background: 0.14 0 0;
  --foreground: 0.99 0 0;
  --card: 0.20 0 0;
  --card-foreground: 0.99 0 0;
  --popover: 0.20 0 0;
  --popover-foreground: 0.99 0 0;
  --primary: 0.92 0 0;
  --primary-foreground: 0.20 0 0;
  --secondary: 0.27 0 0;
  --secondary-foreground: 0.99 0 0;
  --muted: 0.27 0 0;
  --muted-foreground: 0.71 0 0;
  --accent: 0.27 0 0;
  --accent-foreground: 0.99 0 0;
  --destructive: 0.70 0.19 22.23;
  --border: 1.00 0 0 / 10%;
  --input: 1.00 0 0 / 15%;
  --ring: 0.56 0 0;
  --chart-1: 0.49 0.24 264.40;
  --chart-2: 0.70 0.16 160.43;
  --chart-3: 0.77 0.17 65.36;
  --chart-4: 0.62 0.26 305.32;
  --chart-5: 0.64 0.25 16.51;
  --radius: 0.625rem;
}
